*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #222629;
  color:#f1f1f1;
  font-family: 'Work Sans', sans-serif;
}

h1{
  text-align: center;
  padding: 10px 10px 10px 10px;
}

h2{
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #61892F;
}
 
h3{
  font-size:18px;
  padding-top: 30px;
  padding-bottom: 0px;
  color: #6B6E70;
  border-bottom: 1px solid #6B6E70;
}

h4{
  font-size:24px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #61892F;
}
#text-list li{
  font-size:20px;
  margin-left: 30px;
}

p{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

p.reference{
  font-weight:bold;
  font-size:18px;
  color:#6B6E70;
  text-align:left;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.reference{
  font-weight:400;
  text-decoration: none;
  color: #86C232
}

a.work-link{
  font-size: 20px;
  text-decoration: none;
  color: #61892F;
}

.main {
  width: 900px;
  text-align: justify;
  padding-top: 20px;
  margin:0 auto;
}

.underline{
  display: block;
  margin:auto;
  height: 1px;
  background: #61892F;
}

.underline-ref{
  display: block;
  margin:auto;
  height: 1px;
  background: #6B6E70;
}


#nav {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #222629;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0px;
}

li.nav {
  float: left;
}

li.nav a{
  display: block;
  color: #6B6E70;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #111;
}

#nav a.active {
  background-color: #61892F;
  color: #f1f1f1;
}

ol{
  margin-left: 50px;
  font-size: 20px;
}

#links{
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  border-collapse: collapse;
}
#links td, #links th{
  border: 1px #6B6E70;
  padding: 8px;
}

ul{
  margin-left: 50px;
  font-size: 20px; 
}

#attributes{
  width: 100%;
  font-size: 20px;
  text-align:center;
  border-collapse: collapse;
}

#attributes table, th, td{
  border: 1px solid #6B6E70;
  border-collapse: collapse;
}

#attributes th, td{
  padding-top: 5px;
  padding-bottom: 5px;
}

.center{
  display: block;
  margin-left:auto;
  margin-right:auto;
}