*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #222629;
  color:#f1f1f1;
  font-family: 'Work Sans', sans-serif;
}

h1{
  text-align: center;
  padding: 20px 20px 20px 20px;
}

h2{
  padding-top: 20px;
  padding-bottom: 20px;
}

p{
  padding-top: 20px;
  padding-bottom: 20px;
}

.main {
  width: 1024px;
  text-align: justify;
  padding-top: 20px;
  margin:0 auto;
}

.underline{
  display: block;
  margin:auto;
  height: 1px;
  background: #61892F;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222629;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #6B6E70;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color
}

.active {
  background-color: #61892F;
  color: #f1f1f1;
}
